<!DOCTYPE html>
<html lang="en">
<head>
    <title>API WARS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>

<style>
    body {background-image: url("/img/bcg1.jpg");}
    card {background-color: rgba(255,255,255, .9)}
</style>



<body class="container w-80">

<%- include('navbar', {user: false}); %>


<div class="row mt-5 d-flex justify-content-center" >
    <div class="card m-5">
        <h5 class="card-header w-30">Login</h5>
        <div class="card-body">
            <h5 class="card-title">Welcome back!</h5>
            <p class="card-text">Login to your account.</p>
            <form action="/signin" method="POST">
                <div class="form-group">
                    <label for="loginEmail">Email address</label>
                    <input type="email"
                           class="form-control"
                           id="loginEmail"
                           aria-describedby="emailHelp"
                           name="email"
                           placeholder="Enter email">
                    <small id="emailHelpLogin"
                           class="form-text text-muted">We'll never share your email with anyone else .
                    </small>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password"
                           class="form-control"
                           id="loginPassword"
                           name="password"
                           placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
    <div class="card m-5 w-30" >
        <h5 class="card-header">Register</h5>
        <div class="card-body">
            <h5 class="card-title">First time?</h5>
            <p class="card-text">Register to access additional content.</p>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="registerEmail">Email address</label>
                    <input type="email"
                           class="form-control"
                           id="registerEmail"
                           aria-describedby="emailHelp"
                           placeholder="Enter email"
                           value="ggg@ggg"
                           name="email">
                    <small id="emailHelpRegister"
                           class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
                <div class="form-group">
                    <label for="registerPassword">Password</label>
                    <input type="password"
                           class="form-control"
                           id="registerPassword"
                           name="password"
                           value="ggg"
                           placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
</body>
</html>