<!--document head-->
<!DOCTYPE html>
<html lang="en">
    <%- include('head'); %>

    <body class="container w-80" >

        <%- include('navbar', {user: userP}); %>

        <div class="row mt-5 d-flex justify-content-center" >
            <div class="card m-5" style="width: 20rem;">
                <h5 class="card-header">Login</h5>
                <div class="card-body">
                    <h5 class="card-title">Welcome back!</h5>
                    <p class="card-text">Login to your account.</p>
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <label for="loginEmail">Email address</label>
                            <input type="email"
                                   class="form-control"
                                   id="loginEmail"
                                   aria-describedby="emailHelp"
                                   name="email"
                                   placeholder="Enter email">
                            <% if (status === "ERRLOG") { %>
                                <small id="emailHelpLogin" class="form-text text-danger">
                                    Invalid username or password
                                </small>
                            <% } else {%>
                                <small id="emailHelpLogin" class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small>
                            <% } %>

                        </div>
                        <div class="form-group">
                            <label for="loginPassword">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="loginPassword"
                                   name="password"
                                   placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-info">Login</button>
                    </form>
                </div>
            </div>
            <div class="card m-5" style="width: 20rem;">
                <h5 class="card-header">Register</h5>
                <div class="card-body">
                    <h5 class="card-title">First time?</h5>
                    <p class="card-text">Register to access additional content.</p>
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <label for="registerEmail">Email address</label>
                            <input type="email"
                                   class="form-control"
                                   id="registerEmail"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email"
                                   name="email"
                                   required>
                            <% if (status === "ERREXI") { %>
                            <small id="emailHelpLogin" class="form-text text-danger">
                                You already have an account. Try to login.
                            </small>
                            <% } else {%>
                            <small id="emailHelpLogin" class="form-text text-muted">
                                We'll never share your email with anyone else.
                            </small>
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="registerPassword">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="registerPassword"
                                   name="password"
                                   pattern=".{4,}"
                                   required title="4 characters minimum"
                                   placeholder="Password"
                                   required>
                            <% if (status === "ERRPAS") { %>
                            <small id="passwordHelpLogin" class="form-text text-danger">
                                Password must have at least 4 characters.
                            </small>
                            <% }%>
                        </div>
                        <button type="submit" class="btn btn-info">Register</button>
                    </form>
                </div>
            </div>
        </div>

    <%- include('scripts'); %>

    </body>
</html>