<!--residents list modal-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div  class="modal-content">
            <div id="loader" class="w-100 text-center mt-5">
            </div>
            <div id="modal">
                <!--dynamically generated content-->
            </div>
            <div class="text-center justify-content">
                <button type="button" class="btn btn-secondary w-50 m-5" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Voted modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You successfully voted. Woud you lkie to see stats?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, thanks.</button>
                <button type="button" class="btn btn-primary" href="/stats">Yes show me!</button>
            </div>
        </div>
    </div>
</div>