
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1" >API WARS</span>
    <div class="collapse navbar-collapse bg-indigo" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/planets/page/1">Planets<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/stats">Stats<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <% if (!userP) { %>
                    <a class="nav-link" href="/login">Login</a>
                <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </li>
            <li class="nav-item">
                <% if (!userP) { %>
                    <span class="nav-link disabled">You are not logged</span>
                <% } else { %>
                    <span class="nav-link disabled">Signed as <%= userP %></span>
                <% } %>
            </li>

        </ul>

        <div class="form-inline my-2 my-lg-0">
            <input id="search"
                   class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search planet..."
                   aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0"
                    onclick="searchPlanet()">Search
            </button>
        </div>
    </div>
</nav>